@charset "UTF-8";
body {
    background-color: rgba(241, 192, 94, 0.7);
    font-family: "Asap", sans-serif;
    margin: 0;
}

/*a {*/
/*    text-decoration: none;*/
/*    color: rgba(255, 255, 255, 0.6);*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    font-size: 40px;*/
/*}*/

/*a:hover {*/
/*    color: rgba(255, 255, 255, 0.98);*/
/*    transition: all 0.4s ease-in-out;*/
/*}*/

.first_link_container {
margin-top: 20%;
}

.first_link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    weight: 30px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    transform: translate(-50%,0);
    margin: 15px 25px 15px 50%;
    border-radius: 10px;
    color: #EC4D3C;
}

.first_link:hover {
    background-image: -webkit-radial-gradient(#987041 2px, rgba(255, 0, 0, 0) 2px);
    background-image: -o-radial-gradient(#987041 2px, rgba(255, 0, 0, 0) 2px);
    background-image: radial-gradient(#987041 2px, transparent 2px);
    background-size: 12px 12px;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    border-style: solid;
    border-width: 1px;
    border-color: #917434;
    transition: all 0.4s ease-in-out;
}

.first_link:active {
    background-color: #917434;
    transition: all 0.1s ease-in-out;
}


/*логин и регистрация*/

.registration_button {
    background: #f1c05e;
    display: block;
    width: 15%;
    padding: 2%;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #987041;
    margin-top: 10%;
    margin-left: 42.5%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #987041;
    cursor: pointer;
}

.registration_button:hover {
    margin-top: 9.5%;
    margin-left: 42%;
    background: #987041;
    color: white;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    border-style: outset;
    transition: all 0.4s ease-in-out;
}

.loginClass {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}
.loginClass::before, .loginClass::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}
.loginClass::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(87, 87, 87, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
}
.loginClass::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(207, 212, 207, 0.62);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
}
.loginClass > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}
.loginClass > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #F1C05E;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}
.loginClass > button:hover {
    background-color: #ffdb75;
}

@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*магазин*/

.container_For_Products {
    margin-top: 5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table li {
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table .table-header {
    background-color: #917434;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 10%;
}
.responsive-table .col-3 {
    flex-basis: 10%;
}
.responsive-table .col-4 {
    flex-basis: 10%;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}


/*product page*/
/* center container in the middle */

.containerProduct {
    position: relative;
    margin: auto;
    overflow: hidden;
    top: 90px;
    width: 60%;
    height:60%;
    background: #f5f5f5;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    border-radius: 10px;
}

p {
    font-size: 0.9em;
    color: rgba(17, 17, 17, 0.76);
    letter-spacing: 1px;
}

h1 {
    font-size: 1.2em;
    color: #111111;
}

h2 {
    color: #a27f3f;
}

.productPersonalImage {
    /*width: 50%;*/
    width: 200px;
    height: 150px;
    margin-top: 20%;
    position: absolute;
    transform: translate(0,-50%);
    margin-left: 3%;
    border-width: 1px;
    border-style: solid;
    border-color: bisque;
    border-radius: 5%;
}


.product {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 60%;
}

.desc {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 17px;
    color: #4e4e4e;
    font-size: 0.7em;
    line-height: 1.6em;
    margin-right: 25px;
    text-align: justify;
    overflow: auto;
    border-width: 1px;
    border-color: #c69b50;
    border-style: solid;
    border-radius: 0;
    resize: none;
}

.buttons-product {
    margin-top: 10px;
}

.all_button {
    background: #ffde6c;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
}
.all_button:hover {
    background: #c69b50;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    transition: all 0.4s ease-in-out;
}

.all_button:active {
    padding: 9px;
    background: #ffde6c;
    transition: all 0.1s ease-in-out;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0);
}

.add {
    width: 67%;
}
/*selection of product number*/

.custom-select {
    text-align: center;
    position: relative;
    display: block;
    max-width: 50px;
    min-width: 50px;
    border: 1px solid #f1c05e;
    background-color: #fbfff4;
    z-index: 10;
}

.custom-select:hover {
    content: "V";
    background-color: #917434;
    color: #111111;
}

.custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: #000000;
}

/*меню*/

header {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    height: 7%
}

.aMenu {
    display: inline;
    position: static;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    bottom: 10px;
    font-size: 30px;
}

.aMenu:hover {
    color: rgba(255, 255, 255, 0.98);
    transition: all 0.4s ease-in-out;
    font-size: 32px;
}

.aEdit {
    display: inline;
    position: static;
    padding-left: 30px;
    text-decoration: none;
    color: rgba(29, 214, 55, 0.49);
    bottom: 10px;
    font-size: 30px;
}

.aEdit:hover {
    color:#1DD331 ;
    transition: all 0.4s ease-in-out;
    font-size: 32px;
}

/*модальное окно*/
.modalDialog {
    position: fixed;
    font-family: "Asap", sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.inputBasket {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border-width: 1px;
    border-color: #F1C05E;
    padding: 10px 10px;
    margin: 15px -10px;
}

.close {
    background: rgba(1 1 1 0.0);
    color: #f1c05e;
    position: absolute;
    right: 8px;
    text-align: center;
    top: -50px;
    height: 5px;
    width: 24px;
    text-decoration: none;
}

.close:hover {
    color: #c69b50;
    transition: all 0.4s ease-in-out;
}

/*order table*/
.container_For_Orders {
    margin-top: 5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.orders-table li {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.orders-table .table-header-1 {
    background-color: rgba(255, 112, 116, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.orders-table .table-header-2 {
    background-color: rgba(62, 119, 255, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.orders-table .table-header-3 {
    background-color: rgba(96, 255, 162, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.orders-table .table-row {
    background-color: #c69b50;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.orders-table .table-order-row {
    background-color: #fbfff4;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.orders-table .col-1 {
    flex-basis: 10%;
}
.orders-table .col-2 {
    flex-basis: 10%;
}
.orders-table .col-3 {
    flex-basis: 10%;
}
.orders-table .col-4 {
    flex-basis: 10%;
}

/*edit product*/
/*admin*/
.admin_body {
    background-color: #5f95f1;
    font-family: "Asap", sans-serif;
}


.editProductClass {
    overflow: auto;
    background-color: white;
    padding: 40px 30px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.editProductClass input, textarea {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border-width: 1px;
    border-color: #5f95f1;
    padding: 10px 10px;
    margin: 15px -10px;
}

.editProductClass button {
    background: #5f95f1;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
}

.editProductClass button:hover {
    background: #34689b;
    transition: all 0.4s ease-in-out;
}


/*ЭТАЛОННОЕ РАСПОЛОЖЕНИЕ*/
.admin_main_buttons{
    overflow: auto;
    background-color: #5f95f1;
    position: absolute;
    width: 100%;
    height: 93%;
    justify-content:center;
    align-items:center;
}

.admin_main_buttons button {
    background: #5f95f1;
    display: block;
    width: 35%;
    height: 10%;
    border-width: 1px;
    border-color: #fbfff4;
    margin-top: 5%;
    margin-left: 32.3%;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;

}

.admin_main_buttons button:hover {
    background: white;
    color: #5f95f1;
    transition: all 0.4s ease-in-out;
}

.main_button {
    background: #5f95f1;
    display: block;
    width: 35%;
    padding: 2%;
    border-width: 1px;
    border-color: #fbfff4;
    margin-top: 1%;
    margin-left: 32.3%;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.main_button:hover {
    background: white;
    color: #5f95f1;
    transition: all 0.4s ease-in-out;
}

.admin-edit-product {
    background: rgba(62, 119, 255, 0.31);
    padding: 5px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
}

.admin-edit-product:hover {
    background: #34689b;
    padding: 10px;
    transition: all 0.4s ease-in-out;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);;
}

.admin-edit-product:active {
    padding: 5px;
    transition: all 0.1s ease-in-out;
}

.fl_upload {
    width: 300px;
}

#fl_inp {
    display: none;
}

.fl_upload label {
    cursor: pointer;
    background: #5f95f1;
    border-radius: 3px;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.fl_upload label:hover {
    background: rgba(170, 134, 0, 0.64);
}

#file_name {
    margin-top: 20px;
    color: black;
}


/*deliveryman pages*/

.deliveryman_body {
    background-color: rgba(13, 110, 0, 0.31);
    font-family: "Asap", sans-serif;
}

.deliveryman_main_buttons {
    overflow: auto;
    background-color: rgba(13, 110, 0, 0.31);
    position: absolute;
    width: 100%;
    height: 93%;
    justify-content:center;
    align-items:center;
}

.deliveryman_main_buttons button {
    background: rgba(13, 110, 0, 0.31);
    display: block;
    width: 35%;
    height: 10%;
    border-width: 1px;
    border-color: rgba(13, 110, 0, 0.45);
    margin-top: 5%;
    margin-left: 32.3%;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}

.deliveryman_main_buttons button:hover {
    background: rgba(13, 110, 0, 0.45);
    color: white;
    transition: all 0.4s ease-in-out;
}

/*таблица новых заказов*/
.container_For_active_orders {
    margin-top: 5%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table {
    padding-left: 0px;
}

.responsive-table-active-order li {
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table-active-order .table-header-active-order {
    background-color: rgba(13, 110, 0, 0.45);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table-active-order .table-row-active-order {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table-active-order .col-1-active-order {
    flex-basis: 30%;
}
.responsive-table .col-4-active-order {
    flex-basis: 10%;
}

.take_order_button {
    background: rgba(13, 110, 0, 0.31);
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    cursor: pointer;
}

.take_order_button:hover {
    background: rgba(13, 110, 0, 0.45);
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    transition: all 0.4s ease-in-out;
}

.take_order_button:active {
    padding: 8px;
    background: rgba(13, 110, 0, 0.45);
    transition: all 0.1s ease-in-out;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0);
}
.productImages {
    border-radius: 8%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    height: 100px;
    width: 100px;
}